@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

.vue-flow__minimap {
    transform: scale(75%);
    transform-origin: bottom right;
}

.basicflow.dark {
    background: #455a64;
    color: #fffffb;
}

.basicflow.dark .vue-flow__node {
    background: #EDE7F6;
    color: #fffffb
}

.basicflow.dark .vue-flow__node-gameplay-beat {
    /*@apply rounded border-pink-300 border-2 mx-1 my-1 p-1 bg-green-100 text-black;*/
    /*background: #2c3e50;*/
    /*@apply rounded border-2 p-1 text-color pink;*/
    /*border-radius: 5px;
    border-color: darkred;
    border-width: 5px;*/
    background-color: transparent;
    padding: 0;
}

.basicflow.dark .vue-flow__controls .vue-flow__controls-button {
    background: #292524;
    fill: #fffffb;
    border-color: #fffffb
}

.basicflow.dark .vue-flow__edge-textbg {
    fill: #292524
}

.basicflow.dark .vue-flow__edge-text {
    fill: #fffffb
}

.basicflow .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px
}

.basicflow .controls button {
    padding: 4px;
    border-radius: 5px;
    font-weight: 600;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 10px #0000004d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

.basicflow .controls button:hover {
    transform: scale(120%);
    transition: .25s all ease
}